<div class="wrapper">
     <div class="content-title">
          <h1 class="title" >{{ node.label }} </h1>
     </div>
    <div class="content-main">
        {{ content.body }}
    </div>
</div>

<div class="flexslider">
    <ul class="slides">
        {% for item in node.field_amelioration_guide_images %}
            <li data-thumb="{{ file_url(item.entity.fileuri) }}">
                <img src="{{ file_url(item.entity.fileuri) }}"/>
            </li>
        {% endfor %}
    </ul>
</div>


<a href="{{ file_url(node.field_amelioration_guide_pj.entity.fileuri) }}" class="btn btn-success">télécharger le document</a>