
 body {
    font-family:'Roboto', sans-serif;
    color: #FFF;
    line-height:1.2em;
    font-size:17px;
    line-height:20px;
}
a {
    color:#181A1C;
    text-decoration: none;
}
a:hover {
    color: #FECE1A;
    text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    margin: 10px;
}
p {
    padding: 10px;
    line-height: 1.5em;
    color: #585858;
    text-align: justify;
}
.content-title h1 {
    color: #BCA637 !important;
}
.breadcrumb {
    margin-top: 5%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px !important;
}
.serv {
    height: 100%;
}
.serv .row  {
    height:  50%;
}
.serv .row h1 {
    text-transform: uppercase;
    font-size: 28px;
    color: #00306A;
    font-weight: bolder;
    width: 80%;
    margin: auto;
    padding-top: 5%;
}
.serv .row svg{
 
    margin: auto;
    width: 80%;
    margin-top: 20%;
}
.crm{

    background-color: white;
    width: 80%;
    -webkit-box-shadow: -1px -1px 14px 1px rgba(30,65,99,0.18);
    -moz-box-shadow: -1px -1px 14px 1px rgba(30,65,99,0.18);
    box-shadow: -1px -1px 14px 1px rgba(30,65,99,0.18);
    margin: 0 auto auto ;
    padding: 5%;
    z-index: 1;
    min-height: 300px;
}

.view-content div {
    display: inline;
}

.nav > li > a { 
    padding: 10px 5px !important;
}
.col-sm-12 {
    
    color: #585858 ;
}
.page-header {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    color : #585858 ; 
}
.user-login-form {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding: 5%;
}
.user-login-form button {
    margin-top: 5% !important;
}

.top-section {
    background-image: url('../images/banner-1.png');
    height: 100vh;
}
.top-header {
    background-color: #fff;
    height: 40px;
    -webkit-box-shadow: -1px -1px 14px 1px rgba(30,65,99,0.18);
    -moz-box-shadow: -1px -1px 14px 1px rgba(30,65,99,0.18);
    box-shadow: -1px -1px 14px 1px rgba(30,65,99,0.18);
    display: flex;
}
.top-header .navbar {
    width: 80%;
}
.navbar {
    background: transparent;
    margin-bottom:0;
    min-height:70px;
}

.navbar-fixed-top {
    min-height:60px;
    height:60px;
    padding-top:0;
}
.navbar-inner {
    background: transparent;
    border-radius:0;
    filter: none;
    border: none;
    box-shadow: none;
    display: flex;
}
.navbar-inner .container {
    display: flex;
}
.navbar .brand img {
    width:60%;
   
}
.top-header  .navbar {
    text-align: right;
}
.img3 img {
    width: 250px !important;
    height: 200px !important;
    background-position: center;
  background-repeat: no-repeat;
  
  background-size: cover;
}
.img4 img {
    width: 300px !important;
    height: 415px !important;
    margin-top: 12%;
    background-position: center;
  background-repeat: no-repeat;
  
  background-size: cover;
}

#block-chainedeproduction svg {
    width: 85% !important;
    margin-top: 80vh !important;
    margin-left: 10% !important;
}
.navbar .nav > li > a {
    text-transform:uppercase;
    line-height: auto;
   font-weight: bold;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
     box-shadow: none;
    font-size:12px;
    text-shadow: none;
    color: #434343;
    transition: border-color 1s ease;
}
.da-arrows span {
    position: absolute;
    height: 100%;
    width: 45px;
    cursor: pointer;
    z-index: 900;
    opacity: 0;
}
.da-slide .span5 {
    margin-top: 15%;
}

.da-slide h2 {
    font-size: 28px;
    width: 90%;
    top: 40% !important;
    font-weight: bold;
    color: #053354;
}
.navbar .nav > li:hover> a, .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
  
    color: #BCA637;
    background-color: transparent;
    transition: border-color 1s ease;
}
.nav-pills {
    margin-bottom: 30px;
}
.nav-pills > li > a {
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
   
   
}
.nav-pills > li > a:hover, .nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
    background: #181A1C;
    color: #fff;
}
.navbar .btn-navbar:hover, .navbar .btn-navbar {
    border-radius:0;
    background:#FECE1A;
    color: #000;
}

.row .slider-img {
    display: flex;
}
/******
2. Layout
**********************************************************************/
.centered {
    margin-left:auto;
    margin-right:auto;
    float: none;
    text-align: center;
}
/* Use this class if you want ceter element with span* class */
 .center {
    float: none !important;
    margin: 0 auto !important;
    text-align: center;
}
.highlighted-box {
    background:#F4F8F9;
    padding:20px 30px;
}
.highlighted-box h1 {
    margin:0px;
}
.large-text {
    line-height:1.2em;
    font-size: 30px;
    color: #181A1C;
    padding:20px;
    margin-bottom:20px;
}
.highlighted-box h1, .highlighted-box p {
    color: #181A1C !important;
}
.circle-border {
    display: inline-block;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    -khtml-border-radius: 500px;
    border: 3px solid #fff;
}
.left-align {
    text-align:left;
}
.right-align {
    text-align:left;
}
.error {
    color: #CF0000;
    display: none;
}
.invisible {
    display:none;
    visibility:visible;
}
.triangle {
    margin: 0 auto;
    text-align:center;
    width: 0;
    height: 0;
    border-top: 30px solid #181A1C;
    border-left: 585px outset transparent;
    border-right: 585px outset transparent;
    position: relative;
}
/*
2.1 Animations
**********/
 .zoom-in {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease;
}
.zoom-in:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}
/*
2.2 Buttons - There are buttons on a transparent background, primary and secondary color background.
**********/
 .button,  .button:visited, .button:focus {
    display:inline-block;
    text-decoration: none;
    color:white;
    background-color:#BCA637;
    padding:15px 30px;
    font-size:17px;
    line-height:auto;
    margin-top: 10%;
    border-style: none;
}
.button:hover, .button:active{
    background-color:#00306A;
    color:#fff;
}
.button-sp, .button-sp:visited, .button-sp:focus {
    border:none;
    background-color:#FECE1A;
    color:#181A1C;
}
.button-sp:hover, .button-sp:active {
    background-color:#181A1C;
    color:#FECE1A;
}
.button-ps, .button-ps:visited, .button-ps:focus {
    border:none;
    background-color:#181A1C;
    color:#FECE1A;
}
.button-ps:hover, .button-ps:active {
    background-color:#FECE1A;
    color:#181A1C;
}

.button-s,  .button-s:visited, .button-s:focus {
    display:inline-block;
    text-decoration: none;
    color:#BCA637;
    border: 2px solid ;
    border-color: #BCA637;
    padding:15px 30px;
    font-size:17px;
    line-height:auto;
}
#block-bootstrap-account-menu ul {
    padding-right: 15px;
    padding-top: 2%;
}
#block-chainedeproduction {
    z-index: 0;
}
#block-bootstrap-main-menu {
    z-index: 999;
}
#block-views-block-banniere-block-1 {
    z-index: 1;
}
.button-r,  .button-r:visited, .button-r:focus {
    display:inline-block;
    text-decoration: none;
    color:white;
    background-color:#E9CB34;
    padding:15px 30px;
    font-size:17px;
    line-height:auto;
    border-radius: 20px 0px 20px 0px;
    -moz-border-radius: 20px 0px 20px 0px;
    -webkit-border-radius: 20px 0px 20px 0px;
    min-width: 200px;
    text-align: center;

}
/*
2.3 Thumbnails - Predefined bootstrap's thumbnail class.
**********/
 .thumbnail {
    width:100%;
    height:100%;
    padding:0;
    overflow: hidden;
    position: relative;
    border:0;
    border-radius:0;
    box-shadow:none;
    text-align:center;
    background: #191a1c;
}
.thumbnail .more {
    display:block;
    z-index:4;
    position:absolute;
    top:-100px;
    left:50%;
    margin:0 auto;
    margin-left:-41px;
    width:80px;
    height:80px;
    font-size:40px;
    color:#fff;
    text-decoration:none;
    line-height: 70px;
    text-align: center;
}
.thumbnail:hover .more {
    top:40%;
    margin-top:-40px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3 s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.thumbnail h3, 
.thumbnail p {
    margin:0;
    padding:0;
    position:relative;
    z-index:4;
}
.thumbnail h3 {
    color: #FECE1A;
    margin-top:10px;
    font-size:20px;
}
.thumbnail > p {
    padding-bottom:20px;
}
.thumbnail .mask {
    opacity:0.85;
    filter: alpha(opacity=85);
    top:100%;
    left:0;
    width:100%;
    height:100%;
    background:#181A1C;
    position:absolute;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2 s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.thumbnail:hover .mask {
    top:0;
}
/*
2.4 Socail icons
************/
 .social {
    list-style: none;
    float: none;
    position:relative;
    margin:5px; auto;
}
.social li {
    display:inline-block;
    line-height: 32px;
    font-family:'Porta';
    font-size: 32px;
    padding:0 5px;
}
.social li a {
    margin:0;
    padding:0;
    width:32px;
    height:32px;
    color: #FECE1A;
}
.social li a:hover {
    color:#181A1C;
}
/*
3. Sections 
***************************************************************************/
 .section {
    padding-bottom: 50px;
}
.section .container {
    padding-top:50px;
}
.section .title {
    text-align: left;
    padding:10px;
    margin-bottom: 2%;
}
.section .title h1 {
    text-transform: uppercase;
    font-weight: normal;
    padding-left: 2%;
    padding: 0 0 1%;
    color: #053354;
}
.section .title > p {
    font-size: 20px;
    color: #585858;
    font-weight: lighter;
}
.primary-section svg{
    
        max-width: 90%;
        max-height: 60%;

}
.pad10 {
    padding-top: 10%;
}

.primary-section h1 {
    color:#FFF;
}
.secondary-section {
    background:#ECF0F6;
}

.secondary-section h1, .secondary-section .title p {
    color: #181A1C;
}
/* Third section use bacground image */
.third-section {
    padding-bottom: 70px;
    background: #181A1C url(../images/brand-bg.png) no-repeat center;
    border-top:6px solid #FECE1A;
}
.third-section .container {
    padding-top:20px;
    position:relative;
}
.third-section .title {
    border-bottom: 1px solid #A1AAB7;
    color: #FECE1A;
}
.sub-section {
    margin-top:30px;
}
.sub-section .title {
    padding:0;
}
/*******
3.1 Services  
***************************************/

.ao-consult {
    width: 100%;
    margin: auto;
    height: 90vh;
    background-color: white ;
    -webkit-box-shadow: 4px -7px 5px -3px rgba(173,173,173,0.59);
-moz-box-shadow: 4px -7px 5px -3px rgba(173,173,173,0.59);
box-shadow: 4px -7px 5px -3px rgba(173,173,173,0.59);
}
.main-ao {
    background-color: #fff;
    width: 80%;
    min-height: 50vh;
    border-radius: 15px;
    padding: 5%;
    margin: 5%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ; 

}
.all-ao {display: flex;}
.ao {
    width: 80%;
    height: 50px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ; 
}
.ao-consult .row {
    display: flex;
}
.partner {
    display: flex;
    height: 40vh;
    width: 100%;
}
.part {
    margin: auto;
    padding: 2%;
    width: 15%;
    height: 150px;
    max-width: 20%;
    max-height: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ;
}
.part img {
    width: 80%;
    margin: auto;
    height: 70%;
}
footer {
    height: 100vh;
    -webkit-box-shadow: -1px -1px 14px 1px rgba(30,65,99,0.18);
    -moz-box-shadow: -1px -1px 14px 1px rgba(30,65,99,0.18);
    box-shadow: -1px -1px 14px 1px rgba(30,65,99,0.18);
    margin-top: 0 !important;
    border-top: none !important;
}



.service{
    margin-top:20px;
}
 .service, .service h2 {
    padding-top:15px;
}
.service p {
    padding:0px 50px;
    height:60px;
}
.service img {
    width:150px;
    height:150px;
}
/*
3.2 Portfolio
***************************************/
 .single-project {
    margin-bottom:30px;
    background:#181A1C;
}
.single-project img {
    width:100%;
}
.project-description {
    padding-right:20px;
}
.project-description p {
    padding-left:0;
}
.project-title {
    margin-top:15px;
    margin-bottom:15px;
    border-bottom:1px solid #FECE1A;
}
.project-title h3 {
    float:left;
    margin-top:0;
    padding:0;
    width:80%;
}
.project-title .close {
    color: #FECE1A;
    margin-top:10px;
}
.project-info span, .project-title h3 {
    color:#FECE1A;
}
.project-info {
    font-weight:100;
    padding:10px 0;
}
.project-info span {
    width: 80px;
    display: inline-block;
}
.project-info div {
    margin-bottom:5px;
}
.close {
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
}
#portfolio-grid .mix {
    opacity: 0;
    display: none;
}
/*
3.3 About
******************************************************************/
 .team .thumbnail {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border: 1px solid #fff;
}
.team .thumbnail:hover .social {
    z-index: 5;
}
.team .thumbnail:hover .social a {
    color:#fff;
}
.team .thumbnail .mask {
    background: #FECE1A;
}
.team .thumbnail .mask h2 {
    margin-top:20%;
}
.team .thumbnail .mask, .team .thumbnail .mask h3, .team .thumbnail .mask p, .team .thumbnail:hover h3, .team .thumbnail:hover .social a:hover {
    color:#181A17;
}
.about-text {
    margin-top:30px;
}
.about-text p {
    padding:0;
    font-size:16px;
}
/*********************************************************************
                        SKILLS BAR
*********************************************************************/
 .skills {
    list-style-type: none;
    position: relative;
    margin:0px;
}
.skills li {
    margin-bottom:30px;
    background:#FFF;
    height:40px;
    padding:1px;
}
.skills li h3 {
    position: relative;
    font-size: 15px;
    padding:0;
    margin:0;
    left: 10px;
    z-index: 1;
    color: #181A1C;
}
.skills li .bar {
    height:40px;
    position:absolute;
    background-color: #FECE1A;
}
/*
3.4 Clients
**********************************************************************/
 .client-slider img {
    border:1px solid white;
}
.client-slider img:hover {
    background-color:#FECE1A;
}
.client-nav {
    list-style:none;
    margin-top:10px;
}
.client-nav li {
    float:left;
    display:block;
    margin-left:10px;
}
.client-nav li a {
    display:inherit;
    padding:5px;
    background:#FECE1A;
    border-radius:3px;
    width:20px;
    height:20px;
}
.client-nav li a:hover {
    background:#181A1C;
}
.testimonial p {
    color:#181A1C;
    background:#FECE1A;
    padding:15px;
    margin:0;
}
.testimonial .arrow {
    margin-left:10px;
    width:0;
    border-top:10px solid #FECE1A;
    border-left: 20px outset transparent;
    border-right: 20px outset transparent;
}
.testimonial .whopic {
    display:inline-block;
}
.testimonial .whopic img {
    margin-top:10px;
    width:50px;
    height:50px;
    float:left;
}
.testimonial .whopic strong {
    float:left;
    margin-top:10px;
    padding-left:10px;
}
.testimonial .whopic small {
    display:block;
    font-size:12px;
    
}
.testimonial-text{
    display:block;
    font-size:22px;
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    width:70%;
    line-height:1.3em;
}
/*
3.5 Price table
******************************************************************/
 .price-table {
    margin-top: 70px;
    margin-bottom: 20px;
}


.stats {
    height: 80vh;
    width: 80vw;
    margin-left: auto;
    margin: auto;
    -webkit-box-shadow: -1px -1px 14px 1px rgba(30,65,99,0.18);
    -moz-box-shadow: -1px -1px 14px 1px rgba(30,65,99,0.18);
    box-shadow: -1px -1px 14px 1px rgba(30,65,99,0.18);
}
.stats p {
    text-transform: none;
    width: 50%;
    padding: 1%;
}
.stats .row {
    display: flex;
}
.center {
    padding: 3%;
    text-align: center;
}
.right {
    text-align: right;
}
.actu-column {
    background-color:gray;
    width: 33%;
    height: 60vh;
    padding-bottom:20px;
    margin:0 auto;
    text-align:center;
   
}
.event-column {
    background-color:gray;
    width: 30%;
    height: 30vh;
    padding-bottom:20px;
    margin:0 auto;
    text-align:center;
    border-radius: 15px;
}
.photo-column {
   

    height: 50vh;
    padding-bottom:20px;
    margin:0 1%;
    text-align:center;
    border-radius: 15px;
}
.plus {
    text-align: center;
    width: 80px;
    height: 80px;
    text-decoration: none;
    background-color: #e09a457e;
    border-radius: 50% 0 50%  50% ;
    padding: 5%;
    color: white;
    font-weight: bolder;
    
    margin-top: 50%;
    
}
.price-column {
    background-color:white;
    width: 33%;
    height: 60vh;
    padding-bottom:20px;
    margin:0 auto;
    text-align:center;
}
.price-column h3 {
    background-color:#181A1C;
    text-transform:uppercase;
    text-align: center;
    color:#FECE1A;
    padding:40px 0px;
    font-size: 36px;
    margin-top:0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
.price-column .list{
    list-style:none;
    margin:20px 50px;
}
.price-column .list li{
    font-weight:lighter;
    color:#747C89;
    font-size:20px;
    border-bottom:1px solid #747C89;
    padding:25px 0px;
}
.price-column .list li.price {
    text-align: center;
    font-size:31px;
    background-color:white;
    color:#747C89;
    margin-top:25px;
}
.price-text{
    margin:30px 0 20px;
    font-size:20px;
    color: #181A1C;
    font-weight:normal;
}
/*
3.6 Newsletter
********************************************************************/
 .newsletter, .newsletter h2 {
    color: #D7DDDE;
}
.newsletter .title h2 {
    text-align:left;
    padding:0;
    margin:0;
}
.newsletter form {
    text-align:right;
}
.newsletter input {
    margin-top:10px;
    padding:15px;
    height: auto;
}
.newsletter button {
    margin: 0 0 0 20px;
}
.newsletter .button-sp:hover, .newsletter .button-sp:active {
    background-color:#FFF;
    color:#181A1C;
}

/*
3.7 Contact
********************************************************************/
 .contact {
    background: #FECE1A;
}
.contact h1, .contact h2, .contact h3, .contact h4, .contact h5, .contact h6, .contact .section .title > p, .contact .social > li > a {
    color: #181A1C;
}
.contact textarea, .contact input[type="text"], .contact input[type="email"] {
    padding: 10px;
    line-height: 20px;
    height: auto;
}
.contact textarea {
    height: 120px;
}
.contacts, .contact .social {
    color: #fff;
    list-style: none;
    margin-left: 10px;
}
.contacts > li {
    margin-top: 15px;
}
.contacts > li > a {
    color: #fff;
}
.contact-info {
    margin-top:10px;
    margin-bottom:10px;
}
.contact-info p{
     font-weight:normal;
}
.contact-info .icon {
    margin:10px auto;
    font-size:30px;
}
.map-wrapper {
    position:relative;
    height:500px;
}
.map-canvas {
    position:absolute;
    margin-bottom:20px;
    width:100%;
    height:500px;
    color: #29383F;
    position:absolute;
    left:0;
    top:0;
    right:0;
}
.contact .social {
    display: inline-block;
    margin-left:0;
}
.contact .social li {
    line-height: 32px;
    padding:10px 10px;
    font-family:'Porta';
    font-size: 50px;
    transition: margin 0.4s;
    -webkit-transition: margin 0.4s;
}
.contact .social li a {
    color:#fff;
}
.contact .social li a:hover {
    color:#181A1C;
}
.contact-form {
    background:#fff;
    background: rgba(255, 255, 255, 0.9);
    z-index:110;
    position:relative;
    margin-top:-25px;
    padding:20px;
}
.contact-form h3 {
    color:#838589;
    padding-bottom:20px;
}
.message-btn {
    border:1px solid #747C89;
    color:#747C89;
    background-color:transparent;
    padding:15px 30px;
    font-size:17px;
}
.message-btn:hover {
    background-color:#FECE1A;
}
.contact-info {
    text-align:center;
    font-size:22px;
}
.info-mail {
    border:1px solid white;
    width:60%;
    margin:0 auto;
    padding:15px;
    color:#181A1C;
}
.black {
    color:#181A1C;
}
/*
3.8 Footer
********************************************************************/

.footer .span7 {
    width: 70% !important;
}
.footer .span3 {
    padding-left: 5%;
    padding-top: 5%;
    width: 30% !important;
}

.footer .span4 .row {display: flex;}
.footer .span4 .row {display: flex;}
.footer p {
    color: #00306A;
}
.text-m {
    color: #00306A;
    padding-top: 5%;
    text-align: left;
    padding-left: 5%;
}
.logogipp svg {
    width: 80% !important;
    padding: 5%;
    margin-top: 5% !important;
}
.row {
    display: block;
}
.logogipp {
  width: 100%;
}
.social-m {
    padding: 5%;
}
.social-m svg {
    padding-left: 2%;
    text-align: center;
}
.footer {
    padding: 2%;
    border-top: none !important;
}
.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.flexslider {
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.social-m p {
    font-weight: bold;
    font-size: 24px;
}
.span6 img {
    width: 60%;
    float: right;
    margin-top: -5%;
}
.quiklinks {
    margin-top: 1%;
    width: 100% !important;
    height: 50px;
    background-color: #00306A ;
}
.quiklinks ul {
    display: flex;
    list-style-type: none;
    width: 50%;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.quiklinks ul li {
   padding-top: 15px;
    padding-left: 5%;
}
.quiklinks ul li a {
    color: #BCA637;
    text-align: center;
   

}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.copyright {
    width: 100%;
    height: 40px;
}
.copyright p {
    text-align: center;
    font-weight: 600;
}
.span7 ul {
    color: #00306A;
}
.span7 ul  li { 
    text-decoration: none;
    list-style-type: none;
    text-align: left;
    
}
.footer ul li {
    font-size: 14px !important;
    font-weight: 600;
}
.social-m svg {
    margin-top: 2% !important;
}
.span3  ul li {
    padding-top: 5% !important;
}
.padleft5 {
    padding-left: 5%;
}
 .footer {
    background: #ECF0F6;
   display: flex;
}
.footer > p {
    color: #fff;
    margin:0;
}

.footer a{
    
}

.footer a:hover, .footer a:focus{
    text-decoration: underline;
}
.scrollup {
    text-align:center;
    cursor:pointer;
    vertical-align:middle;
    width:39px;
    height:39px;
    border-radius:5px;
    font-size:20px;
    position:fixed;
    bottom:30px;
    right:20px;
	border:1px solid #fff;
    display:none;
    background: #FECE1A;
}
.scrollup > a {
    position:relative;
    top:7px;
    color:#fff;
}
/*
4 Responsible
********************************************************************/
 @media (min-width: 1200px) {
    .thumbnail .more {
        margin-left:-41px;
        width:80px;
        height:80px;
        border-radius:40px;
        line-height: 80px;
    }
}
@media (max-width: 979px) {
    body {
        padding-left:0;
        padding-right:0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed;
    }
    .navbar .nav > li > a {
        line-height: 20px;
        vertical-align: middle;
    }
    .section {
        padding-left:20px;
        padding-right:20px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-collapse {
        clear: both;
    }
    .nav-collapse .nav {
        float: none;
        margin: 0 0 10px;
    }
    .nav-collapse .nav > li {
        float: none;
    }
    .nav-collapse, .nav-collapse.collapse {
        width: 100%;
        display: inherit;
    }
    .thumbnail .more {
        margin-left:-21px;
        width:40px;
        height:40px;
        border-radius:30px;
        line-height: 40px;
    }
    .thumbnail:hover .more {
        margin-top:-20px;
    }
    .newsletter form {
        text-align:center;
    }
}
@media (max-width: 767px) {
    .info-mail {
        width:90%;
        padding:15px 0px;
    }
    .project-description {
        padding-left:20px;
    }
    .price-column, .testimonial {
        margin-top:30px;
    }
}