@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
/* Top header*/
#block-bootstrap-account-menu {
    display: inline-block
}

#block-accesalinformation {
    display: inline-block
}

#block-gallerie {
    display: inline-block
}

#block-languagedropdownswitcher {
    display: inline-block
}

/*header*/
.path-frontpage .dialog-off-canvas-main-canvas {
    background-image: url("../../../sites/default/files/bg-header.png") !important;
    height: 100vh;
}
header.navbar-default {

    width: 100% !important;
    border: none;
    
   
}

.navbar-header {
    position: absolute;
    bottom: 15%;
    right: 0px;
}

.navbar-default .navbar-nav > li > a {
    font-family: Raleway;
    font-size: 12px;
}

.path-frontpage .navbar .logo {
    display: inline-block;
    position: absolute;
    left: 2%;
    top: -5%;
}
.navbar .logo {
    display: inline-block;
    position: absolute;
    left: 2%;
    top: -70%;
}
.btn-success {
    margin-left: 10%;
    margin-bottom: 5%;
}


.navbar-default .navbar-brand {
    display: none
}

#navbar-collapse {
    position: absolute;
    top: 75%;
}

#block-bootstrap-main-menu {
    position: relative;
    left: 7%;
}

header {
    background-image: url("/sites/default/files/bg-header.png") !important;
}

/*front page*/

.view-frontpage {
    display: none
}

/* min width 1200 */
@media screen and (min-width: 1200px) {

    .navbar.container {
        max-width: 100%;
    }
}

/* frontEnd */
body {
    margin-top: 0 !important;
    max-width: 100% !important;
    overflow-x: hidden;
}

header.navbar-default {
    width: 100% !important;
    border: none;
    height: 50px;
    border-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: -1px -1px 14px 1px rgba(30,65,99,0.18);
    -moz-box-shadow: -1px -1px 14px 1px rgba(30,65,99,0.18);
    box-shadow: -1px -1px 14px 1px rgba(30,65,99,0.18);
    display: flex;
}

.main-container.container-fluid.js-quickedit-main-content {
    margin: 0 ;
}

#navbar-collapse {
    position: absolute;
    top: 141px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    border-bottom: 5px #bca637 solid;
    padding-bottom: 10px;
}

h1.page-header > span {
    display: none;
}

span.caret {
    color: #BCA637;
}

.main-container.container-fluid.js-quickedit-main-content > .row {
    margin-top: 110px;
}

.region.region-navigation {
    width: 100%;
    display: inline;
}

.navbar-header {
    width: 100%;
    padding: 0 30px;
}

section#block-languagedropdownswitcher {
    float: right;
    right: 0;
}

nav#block-gallerie {
    float: right;
    right: 0;
}

nav#block-accesalinformation {
    float: right;
    right: 0;
}

nav#block-bootstrap-account-menu {
    float: right;
    right: 0;
    margin-top: -4px;
}
.navbar.container {
    max-width: 100%;
}
.imagesecteur{
    padding-top: 60px;
    padding-left: 100px;

}
section#block-bannerimagetext > .block-title {
    display: none;
}

section#block-bannerimagetext {
    top: -20px;
    position: absolute;
}

ul.menu.menu--main.nav.navbar-nav {
    margin-left: 68px;
}

a.dropdown-toggle {
    color: #777;
    font-weight: bold;
}

ul.menu.menu--gallerie-.nav > li > a {
    color: #777;
    font-weight: bold;
}

.breadcrumb {
    background-color: #012f65;
}

ol.breadcrumb > li > * {
    color: white;
}

.region-we-mega-menu {
    margin-left: 155px;
    width: 100%;
}

.navbar-default {
    background-color: white;
    border-color: white;
}

.we-mega-menu-ul > .we-mega-menu-li > a {
    background-color: white;
}

.we-mega-menu-ul .dropdown-menu > a:before, .we-mega-menu-ul .dropdown-menu > span:before {
    border-width: 5px;
    border-style: solid;
    border-right: 5px solid transparent;
    border-color: #FD4C4C transparent transparent;
    width: 0;
    height: 0;
}

a.we-megamenu-nolink {
    margin: 0;
    border-left: none;
    font-size: 12px !important;
    font-family: Raleway !important;
}

a.we-mega-menu-li {
    margin: 0;
    border-left: none;
    font-size: 12px !important;
    font-family: Raleway !important;
}

.we-mega-menu-ul > .we-mega-menu-li {
    margin: 0;
    border-left: none;
}

li.we-mega-menu-li.dropdown-menu > a {
    font-family: Raleway;
    font-size: 12px;
}

a.we-mega-menu-li:hover {
    border-bottom: 3px solid #FD4C4C !important;
}

.breadcrumb > .active {
    color: white;
}

.breadcrumb > li {
    color: white;
}

ol.breadcrumb li:first-of-type {
    display: none;
}

.breadcrumb > li:first-of-type + li:before {
    display: none;
}
.region.region-footer > span {
    display: none;
}
section#block-footerimagesicons > h2.block-title, #block-blocfooterlv2 > .block-title, #block-footerbloclv3 > .block-title  {
    display: none;
}
#block-footer {
    width: 100% !important;
}
.container-fluid {
    padding-left: 0 !important;
    padding-right:  0 !important;
}

section#block-blocfooterlv2 {
    background-color: #00306A;
    height: 59px;
    text-align: center;
    padding-top: 18px;
}
.region-footer {
    width: 100% !important;
}
.region.region-footer {
    
    background-color: transparent;
}
.footer {
    padding-bottom: 0!important;
}
section#block-footerbloclv3 {
    height: 60px;
    text-align: center;
    padding-top: 23px;
}


/* media screen with max width 628px */
@media (max-width: 628px) {
    section#block-bannerimagetext {
        top: 38px;
    }

    div#navbar-collapse {
        width: 100%;
        margin: 0;
        padding: 0;
        background: white;;
        z-index: 9;
    }

    li.expanded.dropdown.open {
        background-color: #FD4C4C;
    }
}

/**********************box act************/
section#block-views-block-actualites-block-1{
    background-color: #ECF0F6;
    padding: 50px;
    overflow-x: hidden;
}
.owl-item {
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.13); 
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.13);
    margin: 20px;
    border-radius: 10px; 
    background-color: #fff;
}
.owl-wrapper {
    padding-top: 40px;
}
.img-act img {
    border-radius: 10px 10px 0 0;
    padding-bottom: 15px;
    width: 100%;
}
.owl-slider-wrapper.owl-carousel.owl-theme{
    padding: 50px;
}
.date_act {
    padding: 15px;
    color: #00306A;
    font-size: 18px;
    font-weight: 600;
}
.date_act i {
    padding-right: 15px;
    font-size: 25px;
}
.desc_act p {
    padding: 50px 30px;
    font-size: 17px;
    color: #3A364E;
    font-weight: 400;
}
.owl-buttons {
    position: absolute;
    top: 17px;
    right: 68px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
    background-color: #BCA637;
    border-radius: 0;
    border-radius: 0 30px 30px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
    background-color: #BCA637;
    border-radius: 0;
    border-radius: 30px 0 30px 30px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev p {
    padding: 5px 8px;
    color : #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.owl-theme .owl-controls .owl-buttons .owl-next p{
    padding: 5px 8px;
    color : #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.more-link.form-group {
    float: right;
}
.more-link.form-group a{
    color: #BCA637;
    font-size: 18px;
    font-weight: 600;
}
a.act-box:hover .date_act {
    transition: 0.5s ease all;
}
a.act-box:hover .date_act {
    color: #BCA637;
}
/*******************appel d'offre section***********/
section#block-views-block-appels-d-offres-block-2 {
    width: 23%;
    margin: 12% 3% 6% 20%;
    position: relative;
}
section#block-views-block-appels-d-offres-block-1{
    width: 40%;
    margin: 12% auto;
}
section#block-views-block-appels-d-offres-block-2 .view-id-appels_d_offres{
    -webkit-box-shadow: 0px 0px 11px 3px rgb(0 0 0 / 13%);
    box-shadow: 0px 0px 11px 3px rgb(0 0 0 / 13%);
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
}
div#ui-id-1 , div#ui-id-3, div#ui-id-5, div#ui-id-7{
    background-color: #fff;
    border: none;
    -webkit-box-shadow: 0px 0px 11px 3px rgb(0 0 0 / 13%);
    box-shadow: 0px 0px 11px 3px rgb(0 0 0 / 13%);
    padding: 21px;
    margin-bottom: 22px;
}
section#block-views-block-appels-d-offres-block-2 h2 {
    position: absolute;
    top: -165px;
    left: -78%;
    font-size: 48px;
    font-weight: bold;
    color :#053354;
}
section#block-views-block-appels-d-offres-block-2 span.field-content img {
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
}
section#block-views-block-appels-d-offres-block-2 span.field-content p {
    font-size: 18px;
    font-weight: 600;
    color: #898686;
}

p.date-app-of {
    font-size: 15px !important;
    font-weight: bold !important;
    color: #BCA637 !important;
    text-align: center;
}
.app-of-icone:before {
    content :' ';
    background-image: url(/gipp-drupal/sites/default/files/inline-images/Icone1_0.png);
    background-repeat: no-repeat;
    height: 60px !important;
    width: 60px !important;
    display: block;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}
section#block-views-block-appels-d-offres-block-2 span.field-content a{
color : #434343;   
font-size: 20px; 
font-weight: bold;
padding: 10px;

}
/* #block-organigramme svg{
    position: relative;
    width: 100%;
    height: auto;
} */
/**********************************act-general***************/
.col-md-3.act-box-details-general {
    margin: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 11px 3px rgb(0 0 0 / 13%);
    box-shadow: 0px 0px 11px 3px rgb(0 0 0 / 13%);
    border-radius: 8px;

}
.col-md-3.act-box-details-general img {
    border-radius: 8px 8px 0 0;
    padding-bottom: 20px;
}
.act-box-details h5 a{
    font-size: 20px;
    font-weight: bold;
    padding: 20px 20px;
    color :#053354;
}
.content-act-general p {
    font-size: 14px;
    padding: 20px;
    color: #3A364E;
}
.date-act-general {
    font-size: 11px;
    padding: 20px;
    float: right;
    color: #8a8a8a;
}
.col-md-3.act-box-details-general h5 a {
    transition: 0.5s ease all;
}
.col-md-3.act-box-details-general:hover h5 a {
    color :#bca637;
}