<div class="wrapper">
    <div class="content-main">
        {{ content.body }}
    </div>
</div>

<div class="flexslider">
    <ul class="slides">
        {% for item in node.field_access_rapports_images %}
            <li data-thumb="{{ file_url(item.entity.fileuri) }}">
                <img src="{{ file_url(item.entity.fileuri) }}"/>
            </li>
        {% endfor %}
    </ul>
</div>

<div>
    <ul class="list-group-item">
        {% for item in node.field_access_rapports_pj %}
            <li class="item" data-thumb="{{ file_url(item.entity.fileuri) }}">
                <a href="{{ file_url(item.entity.fileuri) }}"/>{{ item.entity.label }}</li>
            </li>
        {% endfor %}
    </ul>
</div>
