<div class="wrapper">
    <div class="content-main">
        {{ content.body }}
    </div>
</div>

<div class="flexslider">
    <ul class="slides">
        {% for item in node.field_subvention_regulation_imag %}
            <li data-thumb="{{ file_url(item.entity.fileuri) }}">
                <img src="{{ file_url(item.entity.fileuri) }}"/>
            </li>
        {% endfor %}
    </ul>
</div>